
# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Editors
*.swp
*.swo

# Vivado / Xilinx
*.jou
*.log
*.str
*.xpr
*.xsa
.xil/
*.runs/
*.cache/
*.sim/
*.hw/
*.ip_user_files/
*.srcs/
*.gen/
*.data/
